td {
	border: 1px solid #D7D7D7;
}

.teamInfo span {
	color: #949494;
	font-size: 12px;
	line-height: 18px;
}

.fa-users {
	font-size: 12px;
	color: #949494;
	margin-right: -5px;
}

tbody tr {
	height: 35px;
}

.mainRow:last-child {
	background: #F3F3F3;
}

.teamInfo {
	padding: 0px 8px 0px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	background: rgba(155, 153, 255, 0.1);
}

.teamInfo__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.teamInfo__name {
	width: 200px;
	padding: 0px 10px;
}

.teamInfo__block {
	flex: 0 0 auto;
	width: fit-content;
}

.teamInfo__block .fas {
	margin-top: 0px;
	margin-right: 15px;
}

.teamInfo__block .chevronBtn {
	font-size: 10px;
	padding: 5px;
}

.teamInfo__block button {
	background-color: transparent;
}

.teamInfo span {
	color: #949494;
	font-size: 12px;
	line-height: 18px;
}

.percent {
	padding: 0px 4px;
	font-size: 12px;
	line-height: 1.2rem;
	color: #fff;
	border-radius: 2px;
	display: inline-block;
	min-width: 24px;
	margin: 0px 13px;
	text-align: center;
}

.rotateChevron {
	transform: rotateX(180deg);
}

tbody:after {
	height: 33px;
	display: table-row;
	content: '';
}

.employeeКRow td:first-child {
	padding-left: 15px;
}

.rotate {
	transform: rotateX(180deg);
}




tbody:nth-child(2) .vacation-cell_paid:before {
	background-color: rgb(155, 153, 255);
}

tbody:nth-child(2) .vacation-cell_unpaid:before {
	background-color: rgba(155, 153, 255, .1);
}

tbody:nth-child(2) .vacation-cell_paid:before,
tbody:nth-child(2) .vacation-cell_unpaid:before {
	border-color: rgb(155, 153, 255);
}

tbody:nth-child(3) .vacation-cell_paid:before {
	background-color: rgb(122, 175, 255);
}

tbody:nth-child(3) .vacation-cell_unpaid:before {
	background-color: rgba(122, 175, 255, .1);
}

tbody:nth-child(3) .vacation-cell_paid:before,
tbody:nth-child(3) .vacation-cell_unpaid:before {
	border-color: rgb(122, 175, 255);
}

tbody:nth-child(4) .vacation-cell_paid:before {
	background-color: rgb(255, 153, 153);
}

tbody:nth-child(4) .vacation-cell_unpaid:before {
	background-color: rgba(255, 153, 153, .1);
}

tbody:nth-child(4) .vacation-cell_paid:before,
tbody:nth-child(4) .vacation-cell_unpaid:before {
	border-color: rgb(255, 153, 153);
}

tbody:nth-child(5) .vacation-cell_paid:before {
	background-color: rgb(255, 167, 104);
}

tbody:nth-child(5) .vacation-cell_unpaid:before {
	background-color: rgba(255, 167, 104, .1);
}

tbody:nth-child(5) .vacation-cell_paid:before,
tbody:nth-child(5) .vacation-cell_unpaid:before {
	border-color: rgb(255, 167, 104);
}

tbody:nth-child(2) .vacation-cell_unpaid.vacation-cell_type-text:after {
	color: rgb(155, 153, 255);
}

tbody:nth-child(3) .vacation-cell_unpaid.vacation-cell_type-text:after {
	color: rgb(122, 175, 255);
}

tbody:nth-child(4) .vacation-cell_unpaid.vacation-cell_type-text:after {
	color: rgb(255, 153, 153);
}

tbody:nth-child(5) .vacation-cell_unpaid.vacation-cell_type-text:after {
	color: rgb(255, 167, 104);
}

tbody:nth-child(2) .employeeКRow,
tbody:nth-child(2) .mainRow {
	border-left: 3px solid rgb(155, 153, 255);
}

tbody:nth-child(3) .employeeКRow,
tbody:nth-child(3) .mainRow {
	border-left: 3px solid rgb(122, 175, 255);
}

tbody:nth-child(4) .employeeКRow,
tbody:nth-child(4) .mainRow {
	border-left: 3px solid rgb(255, 153, 153);
}

tbody:nth-child(5) .employeeКRow,
tbody:nth-child(5) .mainRow {
	border-left: 3px solid rgb(255, 167, 104);
}

tbody:nth-child(2) .percent {
	background-color: rgb(155, 153, 255);
}

tbody:nth-child(3) .percent {
	background-color: rgb(122, 175, 255);
}

tbody:nth-child(4) .percent {
	background-color: rgb(255, 153, 153);
}

tbody:nth-child(5) .percent {
	background-color: rgb(255, 167, 104);
}
