.footerHeader {
  padding: 8px 0 8px 24px;
  font-size: 12px;
  font-weight: 600;
}

.footerCell {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.footer {
  margin-top: 29px;
  font-size: 14px;
}

.footer__inner {
  max-width: 235px;
}

.footer__title {
  font-weight: 600;
  position: relative;
}

.footer__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #e2e2e2;
  position: absolute;
  top: 120%;
  left: 0;
}

.footer__stat {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-right: 30px;
  align-items: center;
}

.statistic {
  display: flex;
}

.footer__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #949494;
}

.footer__percent {
  padding: 3px 3px;
  background-color: #48ba46;
  text-align: center;
  color: white;
  border-radius: 2px;
  margin-left: 15px;
  min-width: 39px;
}
.footer__icon {
  margin-right: 3px;
  display: flex;
  align-items: center;
  height: 13px;
  width: 13px;
}
.usersAmount {
  color: #000;
}
